{% extends 'base.html' %}

{% load static %}

{% block title %}Detalhes do material{% endblock %}

{% block content %}

<div>
    <h1>Detalhes do Material</h1>
    <p>Nome: {{ material.nome }}</p>
    <p>Descrição: {{ material.descricao }}</p>
    <!-- Se o campo 'video' contém um link para um vídeo -->
    <p>Vídeo: <video width="560" height="315" controls>
        <source src="{{ material.video.url }}" type="video/mp4">
        Seu navegador não suporta a reprodução de vídeos.
    </video></p>    <!-- Se o campo 'arquivo' é um arquivo para download -->
    <p>Arquivo: <a href="{{ material.arquivo }}">Download</a></p>
    <!-- Se o campo 'foto' é uma imagem -->
    <p>Foto: <img src="{{ material.fotos.url }}" alt="Foto do Material"></p>
</div>

{% endblock %}

{% block scripts %}

<!-- <script src="{% static 'js/confirm_delete_pasta.js' %}"></script> -->

{% endblock %}