<div class="modal fade" id="staticBackdrop{{ item.pasta.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop{{ item.pasta.pk }}Label" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 60px;">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdrop{{ item.pasta.pk }}Label">Avaliação pela CHEFIA - {{ item.pasta.nome }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'avaliacao_chefia' item.pasta.pk %}" method="POST">
            {% csrf_token %}
            <div class="modal-body" style="max-height: 650px; overflow-y: auto;">
                <div class="mb-4">
                    <label for="">Selecione um colaborador para concluir a avaliação</label>
                    <select class="form-control" name="filter_collaborator" id="filter_collaborator{{ item.pasta.pk }}" required onchange="fetchCollaboratorData('{{ item.pasta.pk }}')">
                        <option value="" selected>-------</option>
                        {% for nome_funcionario in item.nomes_funcionarios %}
                        <option value="{{ nome_funcionario }}">{{ nome_funcionario }}</option>
                        {% endfor %}
                    </select>
                    <code>**Todos os colaboradores dessa lista já realizaram a avaliação da {{ item.pasta.nome }}</code>
                </div>
                <div id="resposta_do_colaborador_selecionado{{ item.pasta.pk }}" class="mb-4 border p-3" style="display: none; background-color: rgb(241, 241, 241);">
                    <h6 id="resposta_colaborador_text{{ item.pasta.pk }}"></h6>
                    <div class="border p-3">
                        <p>Você considera que a qualificação agregará valor para o seu trabalho?</p>
                        <label for="sim{{ item.pasta.pk }}">Sim</label>
                        <input type="radio" name="valor_trabalho" id="sim{{ item.pasta.pk }}" disabled>
                        <label for="nao{{ item.pasta.pk }}">Não</label>
                        <input type="radio" name="valor_trabalho" id="nao{{ item.pasta.pk }}" disabled>
                    </div>
                    <div class="mt-4">
                        <label for="justificativa_avaliacao{{ item.pasta.pk }}">Justifique</label>
                        <textarea style="color: gray;" class="form-control" type="text" name="justificativa_avaliacao" id="justificativa_avaliacao{{ item.pasta.pk }}" disabled></textarea>
                    </div>
                </div>
                {% if request.user.type == 'LID' or request.user.type == 'DIR' %}
                <div id="resposta_avaliacao_chefia{{ item.pasta.pk }}" style="display: none;">
                    <div class="border p-3">
                        <p>Você considera que a qualificação dada ao colaborador atingiu os resultados esperados?</p>
                        <label for="sim_chefia{{ item.pasta.pk }}">Sim</label>
                        <input type="radio" name="eficacia_qualificacao" id="sim_chefia{{ item.pasta.pk }}" value="on" required>
                        <label for="nao_chefia{{ item.pasta.pk }}">Não</label>
                        <input type="radio" name="eficacia_qualificacao" id="nao_chefia{{ item.pasta.pk }}" value="off" required>
                    </div>
                    <div class="mt-4">
                        <label for="justificativa_qualificacao{{ item.pasta.pk }}">Justifique</label>
                        <input class="form-control" type="text" name="justificativa_qualificacao" id="justificativa_qualificacao{{ item.pasta.pk }}" required>
                    </div>
                </div>
                {% elif request.user.type == 'ADM' %}
                <div id="resposta_parecer_rh{{ item.pasta.pk }}" style="display: none;">
                    <div class="border p-3">
                        <p>Com base nas respostas dadas nas questões anteriores a ação de qualificação foi?</p>
                        <label for="sim_chefia{{ item.pasta.pk }}">Eficaz</label>
                        <input type="radio" name="eficacia_qualificacao" id="sim_chefia{{ item.pasta.pk }}" value="on" required>
                        <label for="nao_chefia{{ item.pasta.pk }}">Não Eficaz</label>
                        <input type="radio" name="eficacia_qualificacao" id="nao_chefia{{ item.pasta.pk }}" value="off" required>
                    </div>
                    <div class="mt-4">
                        <label for="justificativa_qualificacao{{ item.pasta.pk }}">Justifique</label>
                        <input class="form-control" type="text" name="justificativa_qualificacao" id="justificativa_qualificacao{{ item.pasta.pk }}" required>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
      </div>
    </div>
</div>