<!-- MODAL EXCLUIR MATERIAL  -->
<div class="modal fade" id="modalExcluirMaterial{{material.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalExcluirMaterialLabel{{material.pk}}" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 60px;">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalExcluirMaterialLabel{{material.pk}}">Excluir o Material</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p style="margin: 0;">Você quer mesmo excluir o material {{ material.nome }}?</p>
            <code>Processo irreversível</code>
        </div>
        <div class="modal-footer">
            <form action="{% url 'delete-material' material.pk pasta.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- MODAL EXCLUIR MATERIAL  -->