{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Correção de Questões Dissertativas{% endblock %}

{% block content %}
<div>
    <h2 class="mb-4">Corrigir Questões Dissertativas - {{ prova.titulo }}</h2>
    <h6 class="mb-4">Funcionário: {{ funcionario.matricula }} - {{ funcionario.first_name }} {{ funcionario.last_name }}</h6>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% if questoes_e_respostas %}
            {% for form, enunciado, resposta in questoes_e_respostas %}
                <div class="questao col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 mb-4">
                    <h4>{{ enunciado }}</h4>
                    <p>Resposta do usuário: {{ resposta }}</p>
                    {{ form.as_table }}
                </div>
            {% endfor %}
                <button class="btn btn-primary" type="submit">Salvar Correções</button>
            {% else %}
            <div class="alert alert-danger" role="alert">
                Não possui questões dissertativas
            </div>
        {% endif %}
    </form>
    
</div>
{% endblock %}