{% extends 'base.html' %}

{% block title %}Adicionar Material{% endblock %}

{% block content %}

<div>
    <h1>Adicionar Novo Material</h1>
    <form method="post" enctype="multipart/form-data" id="editar-material">
        {% csrf_token %}
        <div class="col-lg-8 mx-auto mb-4" style="margin-top: 50px;">
            <div class="card">
                <div class="card-header fw-bold"><h4 class="m-2">Novo Material</h4></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 mt-4">
                            {{ form.nome.label_tag }}
                            {{ form.nome }}
                        </div>
                        <div class="col-sm-6 mt-4">
                            {{ form.descricao.label_tag }}
                            {{ form.descricao }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mt-4">
                            {{ form.video.label_tag }}
                            {{ form.video }}
                        </div>
                        <div class="col-sm-6 mt-4">
                            {{ form.arquivo.label_tag }}
                            {{ form.arquivo }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mt-4 align-content-end">
                            {{ form.fotos.label_tag }}
                            {{ form.fotos }}
                        </div>
                        <div class="col-sm-6 mt-4 align-content-end">
                            {{ form.video_youtube.label_tag }}
                            {{ form.video_youtube }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="submit-edit" class="btn btn-primary mt-4" type="submit">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            <span id="button-text">Salvar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('editar-material').addEventListener('submit', function() {
        var submitButton = document.getElementById('submit-edit');
        submitButton.disabled = true; // Desabilita o botão
        submitButton.querySelector('.spinner-border').classList.remove('d-none'); // Exibe o spinner
        document.getElementById('button-text').textContent = 'Salvando...'; // Altera o texto
    });
</script>

{% endblock %}
