{% extends 'base.html' %}

{% load static %}

{% block title %}Adicionar Área{% endblock %}

{% block content %}

<div>
    <h1>Adicionar Nova Área</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
</div>

<div>
    <ul>
        {% for area in areas %}
        <li><a href="{% url 'edit-area' area.pk %}">{{ area.nome }}</a> <a href="{% url 'delete-area' area.pk %}" class="delete-link">Excluir</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/confirm_delete_pasta.js' %}"></script>
{% endblock %}