{% extends 'base.html' %}

{% load static %}

{% block title %}Adicionar Área{% endblock %}

{% block content %}

<div>
    {% if messages %}
    {% for message in messages %}
            {% if 'area' in message.tags %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h1>Adicionar Novo Funcionário</h1>
    <form method="post">
        {% csrf_token %}
        <div class="col-lg-8 mx-auto" style="margin-top: 50px;">
            <div class="card">
                <div class="card-header fw-bold">Adicionar Funcionário</div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-end">
                        <div class="col-sm-6 mt-4">
                            {{ form.nome.label_tag }}
                            {{ form.nome }}
                        </div>
                        <div class="col-sm-2 mt-4">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-lg-8 mx-auto" style="margin-top: 50px;">
    <div class="card">
        <div class="card-header fw-bold">Lista de Setores</div>
        <div class="card-body">
            <ul class="list-group">
                {% for area in areas %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'edit-area' area.pk %}" class="flex-grow-1" style="width: 80%;">{{ area.nome }}</a>
                    <a href="{% url 'delete-area' area.pk %}" class="btn btn-link p-0 delete-link"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/confirm_delete_pasta.js' %}"></script>
{% endblock %}