{% extends 'base.html' %}

{% block title %}Lista pastas{% endblock %}

{% block content %}

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div>
    <h1>Pastas</h1>

    <a href="{% url 'add-pasta' %}">Add Pasta</a>

    {% if pastas %}

    <div>
        <p>Name</p>
    </div>

    {% for pasta in pastas %}

    <div>
        <p>
            <a href="{% url 'detail-pasta' pasta.pk %}">{{pasta.nome}}</a>
        </p>
    </div>

    {% endfor %}

    {% else %}

    <p>Sem pastas</p>

    {% endif %}

</div>

{% endblock %}