{% extends 'base.html' %}

{% block title %}Editar Setor{% endblock %}

{% block content %}

<div>
    <h1>Editar Setor</h1>
    <form method="post">
        {% csrf_token %}
        <div class="col-lg-8 mx-auto" style="margin-top: 50px;">
            <div class="card">
                <div class="card-header fw-bold">Editar Setor</div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-end">
                        <div class="col-sm-4 mt-4">
                            {{ form.area.label_tag }}
                            {{ form.area }}
                        </div>
                        <div class="col-sm-3 mt-4">
                            {{ form.nome.label_tag }}
                            {{ form.nome }}
                        </div>
                        <div class="col-sm-2 mt-4">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>

{% endblock %}