{% extends 'base.html' %}

{% load static %}

{% block title %}Adicionar funcionario{% endblock %}

{% block content %}

<div>
  <h1>Adicionar Novo Setor</h1>
  <form method="post">
      {% csrf_token %}
      <div class="col-lg-8 mx-auto" style="margin-top: 50px;">
          <div class="card">
              <div class="card-header fw-bold">Adicionar Setor</div>
              <div class="card-body">
                  <div class="row justify-content-center align-items-end">
                      <div class="col-sm-4 mt-4">
                          {{ form.area.label_tag }}
                          {{ form.area }}
                      </div>
                      <div class="col-sm-3 mt-4">
                          {{ form.nome.label_tag }}
                          {{ form.nome }}
                      </div>
                      <div class="col-sm-2 mt-4">
                          <button class="btn btn-primary" type="submit">Salvar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>

<div class="col-lg-8 mx-auto" style="margin-top: 50px;">
  <div class="card" style="max-height: 500px;">
    <div class="card-header fw-bold d-flex justify-content-between align-items-center"><label>Lista de Setores</label><input type="text" class="form-control" id="filtro_cadastrar_setor" style="width: 150px; font-size: 14px;" placeholder="Filtrar Setor..."></div>
      <div class="card-body" style="overflow-y: auto;">
          <ul class="list-group">
              {% for setor in setores %}
              <li class="setores_cadastradas list-group-item justify-content-between align-items-center" style="display: flex;">
                  <a href="{% url 'edit-setor' setor.pk %}" class="setor_area flex-grow-1">{{ setor.nome }} - {{ setor.area }}</a>
                  <a href="{% url 'delete-setor' setor.pk %}" class="btn btn-link p-0 delete-link"><i class="fa-solid fa-trash text-danger"></i></a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</div>


<div class="modal fade" id="addFuncionarioModal" tabindex="-1" aria-labelledby="addFuncionarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addFuncionarioModalLabel">Adicionar Novo Funcionário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/confirm_delete_pasta.js' %}"></script>
<script src="{% static 'js/filtro_cadasto/cadastrar_setor.js' %}"></script>

{% endblock %}