{% extends 'base.html' %}

{% block title %}Avaliação{% endblock %}

{% block content %}
    <h1>Lista de Funcionários</h1>
    <table id="funcionario-table">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Setor</th>
            </tr>
        </thead>
        <tbody>
            {% if funcionarios %}
                {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.matricula }}</td>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.setor.nome}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">Nenhum funcionário encontrado.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script>
        console.log('Funcionários carregados no template.');
    </script>
{% endblock %}
