{% extends 'base.html' %}

{% block title %}Lista trilhas{% endblock %}

{% block links %}
<style>
    .btn-pastel {
        background-color: #5da57c; /* Cor verde pastel */
        color: white; /* Cor do texto */
        border: none; /* Remover borda */
    }

    .btn-pastel:hover {
        background-color: #41d882; /* Cor mais escura no hover */
    }

    .btn-pastel i {
        margin-right: 5px; /* Espaço entre o ícone e o texto */
    }
</style>
{% endblock %}

{% block content %}

{% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
{% endif %}

<h1>Trilhas de aprendizado</h1>

{% if request.user.type == 'ADM' or request.user.type == 'LID' %}
<div class="row mb-3">
    <div class="col-lg-8 mx-auto text-end">
        <button class="btn btn-pastel" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="fas fa-plus"></i> Adicionar trilha
        </button>
    </div>
</div>
{% endif %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Adicionar Trilha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% include 'pastas/forms/pasta_add.html' %}
    </div>
</div>

<div class="row">
    
    <div class="col-lg-8 mx-auto mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>Trilhas</div>
                    <div class="input-group" style="width: 200px;">
                        <input class="form-control" id="inputSearch" type="text" placeholder="Pesquisar trilha..." aria-label="Pesquisar trilha..." aria-describedby="btnSearch" />
                        <button class="btn btn-primary" id="btnSearch" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            <div class="card-body">
                <div class="list-group">
                    {% if pastas_com_criadores %}
                    {% for item in pastas_com_criadores %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start trilha-item">
                        <div class="w-100">
                            <div>
                                {% if request.user.type == 'ADM' %}
                                <div class="d-flex justify-content-between">
                                    <h3><a href="{% url 'detail-pasta' item.pasta.pk %}" class="trilha-nome">{{ item.pasta.nome }}</a></h3>
                                    <h3><a href="{% url 'frequencia-pasta' item.pasta.pk %}" title="Ficha de frequência">
                                        <i class="fa-solid fa-list-check"></i>
                                    </a></h3>
                                </div>
                                <div style="color: #333; font-size: 10pt; margin-bottom: 10px;">
                                    {{ item.criador_nome_completo }}
                                </div>
                                <div class="authors" style="font-style: italic;">
                                    {{ item.pasta.descricao }}
                                </div>
                                {% else %}
                                <h3><a href="{% url 'detail-pasta' item.pasta.pk %}" class="trilha-nome">{{ item.pasta.nome }}</a></h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100">
                            <div>
                                <h3>Sem trilhas</h3>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function submitTrilha(form) {
        const formData = new FormData(form);
        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Lidar com a resposta do servidor após o envio do formulário
            if (data.success) {
                // Formulário enviado com sucesso
                // Fechar o offcanvas, atualizar a lista de livros, etc.
            } else {
                // Erro no envio do formulário
                // Exibir mensagem de erro, etc.
            }
        })
        .catch(error => {
            console.error("Erro ao enviar formulário:", error);
        });
    }

    document.getElementById('btnSearch').addEventListener('click',function(){
        const inputSearch = document.getElementById('inputSearch').value.toLowerCase();
        const itemTrilha = document.querySelectorAll('.trilha-item');

        itemTrilha.forEach(function(item) {
            const nome = item.querySelector('.trilha-nome').textContent.toLowerCase();
            if(nome.includes(inputSearch)){
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        })
    })


</script>
{% endblock %}