{% extends 'base.html' %}

{% block title %}Editar Trilha{% endblock %}

{% block content %}

<div>
    <h1>Editar Trilha</h1>
    <form id="editar-trilha" method="post">
        {% csrf_token %}
        <div class="col-lg-8 mx-auto mb-4" style="margin-top: 50px;">
            <div class="card">
                <div class="card-header fw-bold"><h4 class="m-2">Editar Trilha</h4></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 mt-4">
                            {{ form.nome.label_tag }}
                            {{ form.nome }}
                        </div>
                        <div class="col-sm-6 mt-4">
                            {{ form.descricao.label_tag }}
                            {{ form.descricao }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mt-4">
                            {{ form.area_trilha.label_tag }}
                            {{ form.area_trilha }}
                        </div>
                        <div class="col-sm-4 mt-4">
                            <div class="d-flex justify-content-between align-items-center mb-2 mt-2">
                                <div class="form-check form-switch ml-2">
                                    <input class="form-check-input" type="checkbox" id="toggle-select-all-switch">
                                    <label class="form-check-label" style="font-size: 14px;" for="toggle-select-all-switch">Selecionar Todos</label>
                                </div>
                                <input id="filtrar_setor_editar_trilha" class="form-control form-control-sm w-50" type="text" placeholder="Filtrar setores...">
                            </div>
                            {{ form.setores.label_tag }}
                            <div style="overflow-y: scroll; height: 190px;">
                                {{ form.setores }}  
                            </div>
                        </div>
                        <div class="col-sm-4 mt-4 align-content-end">
                            <div class="d-flex justify-content-between align-items-center mb-2 mt-2">
                                <div class="form-check form-switch ml-2">
                                    <input class="form-check-input" type="checkbox" id="toggle-show-selected" checked>
                                    <label class="form-check-label" style="font-size: 14px;" for="toggle-show-selected">Mostrar Selecionados</label>
                                </div>
                                <input id="filtrar_funcionarios_editar_trilha" class="form-control form-control-sm w-50" type="text" placeholder="Filtrar funcionários...">
                            </div>
                            {{ form.funcionarios.label_tag }}
                            <div style="overflow-y: scroll; height: 190px;">
                                {{ form.funcionarios }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-end">
                            <button id="submit-edit" class="btn btn-primary mt-4" type="submit">
                                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                <span id="button-text">Salvar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/adicionar_trilha/checkbox/toggle.js"></script>
<script src="/static/js/editar_trilha/filtro.js"></script>

<script>
    document.getElementById('editar-trilha').addEventListener('submit', function() {
        var submitButton = document.getElementById('submit-edit');
        submitButton.disabled = true; // Desabilita o botão
        submitButton.querySelector('.spinner-border').classList.remove('d-none'); // Exibe o spinner
        document.getElementById('button-text').textContent = 'Salvando...'; // Altera o texto
    });
</script>

{% endblock %}