{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta name="csrf-token" content="{{ csrf_token }}">

    {% block links %}
    {% endblock %}

</head>
<body>
    <!-- NAVBAR -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a href="index.html">CEMAG <span class="accent">Academy</span></a>
                </div>
                <nav class="nav" id="mainNav">
                    <a href="{% url 'home' %}" class="nav-link active">Inicio</a>
                    <a href="{% url 'list-pasta' %}" class="nav-link">Trilhas</a>
                    <a href="dashboard.html" class="nav-link">Dashboard</a>
                    <a href="componentes.html" class="nav-link">Componentes</a>
                    <a href="login.html" class="nav-link">Login</a>
                    <a href="#sobre" class="nav-link">Sobre</a>
                </nav>
                <button class="menu-toggle" id="menuToggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>
