{% extends 'base.html' %}

{% load custom_filters %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
    /* Container que define a disposição dos gráficos */
    .chart-container {
        display: flex; /* Alinha lado a lado */
        flex-wrap: wrap; /* Permite que os gráficos se ajustem para baixo em telas menores */
        justify-content: center; /* Centraliza os gráficos */
        gap: 20px; /* Espaço entre os gráficos */
        padding: 20px;
    }

    /* Responsividade individual dos gráficos */
    .chart-wrapper {
        flex: 1 1 45%; /* Os gráficos ocupam 45% do container */
        max-width: 1000px; /* Define um limite de largura */
        min-width: 300px; /* Define um limite mínimo de largura */
    }

    canvas {
        width: 100%; /* Largura total do container */
        height: auto; /* Altura ajustada automaticamente */
    }
</style>

<h1 class="mt-4">Dashboard</h1>

<div class="chart-container">
    <!-- Gráfico 1 -->
    <div class="chart-wrapper">
        <canvas id="myChart1"></canvas>
    </div>
    <!-- Gráfico 2 -->
    <div class="chart-wrapper">
        <canvas id="myChart2"></canvas>
    </div>

</div>


<div class="card mb-3">
    <div class="card-header">Andamento individual</div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-4 col-md-12 mb-3">
                <div class="card bg-light text-black mb-4">
                    <div class="card-body">Progresso geral de trilhas</div>
                    <div
                        class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link"></a>
                        <div class="small text-black">{{ progresso_geral_individual|floatformat:2 }}%</div>
                    </div>
                </div>
                <div class="card bg-light text-black mb-4">
                    <div class="card-body">Trilhas finalizadas</div>
                    <div
                        class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link"></a>
                        <div class="small text-black">{{ trilhas_finalizadas }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card mb-4">
                    <div class="card-header">Andamento por área de
                        aprendizado:</div>
                    <div class="card-body"
                        style="height: 173px; max-height: 173px; overflow-y: auto;">
                        <ul class="list-group">
                            {% for area_trilha_nome, media_progresso in media_progresso_area_trilha_individual.items %}
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                {{ area_trilha_nome }}
                                <span class="badge badge-primary badge-pill"
                                    style="color: black;">{{ media_progresso|floatformat:0 }}%</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card mb-4">
                    <div class="card-header">Andamento por trilhas:</div>
                    <div class="card-body"
                        style="height: 173px; max-height: 173px; overflow-y: auto;">
                        <ul class="list-group">
                            {% for pasta in progresso_trilha_individual.pastas %}
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'detail-pasta' pasta.pk %}">{{ pasta.nome }}</a>
                                {% if progresso_trilha_individual.progresso_pasta %}
                                <span class="badge badge-primary badge-pill"
                                    style="color: black;">{{progresso_trilha_individual.progresso_pasta|get_item:pasta.nome}}%</span>
                                {% endif %}
                            </li>
                            {% empty %}
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">Você
                                não tem acesso a nenhuma trilha.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    {% if request.user.type == 'ADM' %}
    <div class="card-header">Andamento da empresa</div>
    {% else %}
    <div class="card-header">Andamento da empresa</div>
    {% endif %}
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header">Progresso por funcionario (por
                        trilha):</div>
                    <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                        <ul class="list-group">
                            {% for funcionario, progresso in progresso_funcionarios.items %}
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                {{ progresso.matricula }} - {{ funcionario }}
                                <span class="badge badge-primary badge-pill"
                                    style="color: black;">{{ progresso.progresso|floatformat:0 }}%</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-3">
                <div class="card">
                    {% if request.user.type == 'ADM' %}
                    <div class="card-header">Acesso por funcionário:</div>
                    {% else %}
                    <div class="card-header">Acesso por funcionário (do time):</div>
                    {% endif %}
                    <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                        <ul class="list-group">
                            {% for acesso in ultimos_acessos %}
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center">
                                {{ acesso.matricula }} - {{ acesso.first_name }} {{acesso.last_name }}
                                <span class="badge badge-primary badge-pill"
                                    style="color: black;">{{ acesso.last_login }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header">Últimas trilhas criadas:</div>
                    <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                        <div class="list-group">
                            {% for trilhas in ultimas_trilhas %}
                            <a
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ trilhas.nome }}</h5>
                                    <small>{{ trilhas.created_at }}</small>
                                </div>
                                <p class="mb-1">{{ trilhas.area_trilha }}</p>
                                <small>{{ trilhas.created_by.first_name }}</small>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header">Últimos livros criados:</div>
                    <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                        <div class="list-group">
                            {% for trilhas in ultimas_trilhas %}
                            <a
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ trilhas.nome }}</h5>
                                    <small>{{ trilhas.created_at }}</small>
                                </div>
                                <p class="mb-1">{{ trilhas.area_trilha }}</p>
                                <small>{{ trilhas.created_by.first_name }}</small>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    fetch('api/trilhas_por_setor')
        .then(response => response.json())
        .then(data => {
            const setores_nomes = Object.keys(data);
            const trilhas_quantidade = Object.values(data);

            // Array de cores para cada barra
            const colors = [
                'rgba(255, 99, 132, 0.2)', // Red
                'rgba(54, 162, 235, 0.2)', // Blue
                'rgba(255, 206, 86, 0.2)', // Yellow
                'rgba(75, 192, 192, 0.2)', // Teal
                'rgba(153, 102, 255, 0.2)', // Purple
                'rgba(255, 159, 64, 0.2)'  // Orange
            ];

            // Cria um array de cores correspondente à quantidade de trilhas
            const backgroundColors = trilhas_quantidade.map((_, index) => colors[index % colors.length]);
            const borderColors = trilhas_quantidade.map((_, index) => colors[index % colors.length].replace('0.2', '1')); // Cores mais escuras para bordas

            const ctx1 = document.getElementById('myChart1');
            new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: setores_nomes,
                    datasets: [{
                        label: 'Quantidade de Trilhas Visualizadas',
                        data: trilhas_quantidade,
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1 // Exibe apenas números inteiros
                            }
                        },
                        x: {
                            ticks: {
                                font: {
                                    size: 7, // Diminui o tamanho da fonte dos rótulos do eixo X
                                    weight: 'bold' // Deixa a fonte em negrito
                                }
                            }
                        }
                    }
                }
            });
        })
        .catch(error => console.error('Error fetching data:', error));

    // Configuração para o segundo gráfico
    const ctx2 = document.getElementById('myChart2');
    new Chart(ctx2, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
            datasets: [{
                label: '# of Sales - Chart 2',
                data: [30, 50, 20, 40, 60, 80],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}