<div class="card">
    <div class="card-header">Últimas Trilhas Criadas:</div>
    <div class="card-body" style="max-height: 300px; overflow-y: auto;">
        <div class="list-group">
            {% for trilhas in ultimas_trilhas %}
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ trilhas.nome }}</h5>
                    <small>{{ trilhas.created_at }}</small>
                </div>
                <p class="mb-1">{{ trilhas.area_trilha }}</p>
                <small>{{ trilhas.created_by.first_name }} {{ trilhas.created_by.last_name }}</small>
            </a>
            {% endfor %}
        </div>
    </div>
</div>