{% extends 'base.html' %}

{% load static %}

{% block title %}Adicionar funcionario{% endblock %}

{% block content %}

<div>
    <h1>Adicionar Novo Funcionário</h1>
    <form method="post">
        {% csrf_token %}
        <div class="col-lg-8 mx-auto" style="margin-top: 50px;">
            <div class="card">
                <div class="card-header fw-bold">Adicionar Funcionário</div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-end">
                        <div class="col-sm-3 mt-4">
                            {{ form.matricula.label_tag }}
                            {{ form.matricula }}
                        </div>
                        <div class="col-sm-4 mt-4">
                            {{ form.nome.label_tag }}
                            {{ form.nome }}
                        </div>
                        <div class="col-sm-3 mt-4">
                            {{ form.setor.label_tag }}
                            {{ form.setor }}
                        </div>
                        <div class="col-sm-2 mt-4">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="col-lg-8 mx-auto" style="margin-top: 50px;">
    <div class="card" style="height: 500px;">
        <div class="card-header fw-bold d-flex justify-content-between align-items-center">
            <label>Lista de Funcionários</label>
            <input type="text" id="filtrar_funcionario" class="form-control" style="width: 150px; font-size: 14px;" placeholder="Filtrar Funcionário...">
        </div>
        <div class="card-body" style="overflow-y: auto;">
            <ul class="list-group" id="lista_funcionarios">
                {% for funcionario in funcionarios %}
                <li class="funcionarios_cadastrados list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'edit-funcionario' funcionario.pk %}" class="flex-grow-1 matricula_nome" style="width: 80%;">{{ funcionario.matricula }} - {{ funcionario.nome }}</a> 
                    <a href="{% url 'delete-funcionario' funcionario.pk %}" class="btn btn-link p-0 delete-link"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                </li>                  
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/confirm_delete_pasta.js' %}"></script>
<script src="{% static 'js/filtro_cadasto/cadastrar_funcionario.js' %}"></script>

{% endblock %}