{% load static %}
  <div class="header">
    <div class="corner-image">
      <img src="{% static 'img/SELO 50 ANOS ISOLADO_Prancheta 1.png' %}"
        width="100" height="100" alt="Item do Certificado">
      <img src="{% static 'img/logo-cemagL.png' %}" width="200"
        height="100"
        alt="Item do Certificado">
    </div>
  </div>
  <div>
    <div style="text-align: center; margin-top: 90px;">
      <img src="{% static 'img/item_certificado.png' %}"
      alt="Item do Certificado">
      <h1>CERTIFICADO</h1>
      <p>Certificamos que, para os devidos fins, o(a) funcionário(a)</p>
      <h2>{{funcionario.nome}}</h2>
    </div>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <p>
      Concluiu o treinamento <br>
      {{ prova.pasta.nome }} no dia {{ certificado.data_emissao_certificado.day }}/{{ certificado.data_emissao_certificado.month|stringformat:"02d" }}/{{ certificado.data_emissao_certificado.year }},<br>
      na CEMAG - Ceará Máquinas Agrícolas Ltda.
    </p>
    <p>Fortaleza, {{ certificado.data_emissao_certificado }}</p>
    <p style="color: gray;">{{ certificado.identificador_finalizado }}</p>
  </div>
  {% if contem_setor_assinatura %}
  <div class="assinaturas">
    <div class="assinatura">
      <p>_____________________________________</p>
      <p>Responsável Técnico</p>
    </div>
    <div class="assinatura">
      <p>_____________________________________</p>
      <p>{{funcionario.nome}}</p>
      <p>Funcionário</p>
    </div>
  </div>
  {% endif %}

